{% extends "base.html" %}
{% block title %}Main{% endblock %}
{% block head %}

	<form class="form-inline" method="POST" action="/response">
		<div class="form-group">
			<label>Текст письма: </label>
			<input class="form-control" type="text" name="text" required><br>
		</div>
		<div class="form-group">
			<label>Отложенное время: </label>
			<input class="form-control" type="int" name="timer" required><br>
		</div>
		<div>
			<input type="submit" value="Submit">
		</div>
	</form>

{% endblock %}